body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #A0D1FF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 200px; /* Making the logo larger */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* Light blue color */
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ffa31a; /* Orange color for hover effect */
}

main {
    padding: 20px;
    text-align: center;
    background-color: #fff; /* White background for main content */
}

h1 {
    color: #ffa31a; /* Orange color for heading */
}

footer {
    background-color: #FFA31A;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
